<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__CSS__/style.css">
</head>
<body>
	<h2>hello thinkphp</h2>
	<strong>图片显示：==></strong>
	<img src="__IMG__/Koala.jpg" alt="" height="200" width="200">
	<img src="__IMG__/Chrysanthemum.jpg" alt="" height="200" width="200">
	<img src="__IMG__/Desert.jpg" alt="" height="200" width="200">
	<h3>以下是所有的路径字符窜</h3>
	<h4>__URL__==>url路径</h4>
	<h4>__CSS__==>css路径</h4>
	<h4>__STATIC__==>static路径</h4>
	<h4>图片定义的位置==>__IMG__</h4>
</body>
</html>